
#about_button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  margin-top: 23%;
  margin-left: 21%;
}


  @media only screen and (max-width: 1600px) {
#about_button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: 0%;
  margin-top: 30%;
  transform: translateX(-50%);
}

  }
  @media only screen and (max-width: 850px) {
#about_button {
  margin-top: 45%;
}
  }
  @media only screen and (max-width: 550px) {
#about_button {
  margin-top: 70%;
}


}