#head {
    background-color: #D9B99B;
    width: 100vw;
    position: relative;
    height: 13vh;
}
#header_buttons {
    top: 4vh;
    position: absolute;
    width: 50%;
    right: 0%;
    padding-right: 10px;
    text-align: center;
}
.logo {
    width: 10%;
    position: relative;
    top: 2vh;
}
.router_buttons {
    background-color: #EED9C4;
    border-radius: 50px;
    text-decoration: none;
    color:black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 1.5vw;
    box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
    border: 2px solid transparent;
    font-size: 4.1vh;
}
a:hover {
    border: 2px solid black;

}
@media only screen and (max-width: 1260px) {
    #header_buttons {
        top: 4vh;
        position: absolute;
        width: 60vw;
        right: 0%;
        padding-right: 10px;
        
    }
    .logo {
        width: 20%;
        position: relative;
        top: 15%;
    }
    .router_buttons {
        font-size: 3vh;
        padding-left: 3%;
        padding-right: 3%;
    }
  }
  @media only screen and (max-width: 770px) {
    #header_buttons {
        top: 4vh;
        position: absolute;
        width: 77vw;
        right: 0%;
    }
    .logo {
        width: 20%;
        position: relative;
        top: 20%;
    }
}
    @media only screen and (max-width: 600px) {
        #header_buttons {
            top: 4vh;
            position: absolute;
            width: 90%;
            right: 0%;
            margin: auto;
            top: 30%;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .logo {
            width: 20%;
            position: relative;
            top: 20%;
        }
        .router_buttons {
            font-size: 2.8vh;
            padding-left: 4%;
            padding-right: 4%;
            width: 22%;
            display: inline-block;
            text-align: center;
            
        }
        .logo {
            display:none;
        }
        #head {
            height: 17vh;
}
  }
  @media only screen and (max-height: 700px) {
        #head {
            height: 20vh;
}
}