.Profile {
    background-color: #D9B99B;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.Profile_name {
    text-align: center;
    font-size: x-large;
    line-height: 0.8;
    background-color: #D9B99B;
}
.Profile_main_container {
    margin-top :  8vh !important ; 
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
    height: 45%;
    position: relative;
}

.register-form  > input {
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 64px ;  
    margin-top: 2vh;  
    width: 25vw;
}

.login-form  > input {
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 64px ;
    margin-top: 2vh;    
    width: 25vw;
    min-width: 200px;
}

.login-form  > button {
    background-color: #123329;
    border-radius: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
    width: 25vw;
    font-size: 64px;
    line-height: 0.8;
    min-height: 80px;
    margin-top: 2vh;  
}

.register-form  > button {
    background-color: #331212;
    border-radius: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
    width: 25vw;
    font-size: 64px;
    line-height: 0.8;
    min-height: 80px;
    margin-top: 2vh;  
}

.login-form {
    position: relative;
    text-align: center;
    display: inline-block;
}
.register-form {
    margin-left: 1vw;
    text-align: center;
    position: relative;
    display: inline-block;
}
.Profile_form_coat {
    margin-left: 5vw;
    margin-top: 8vh;

}
.Profile_img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    height: 90%;
}
@media only screen and (max-height: 960px) {
.login-form > input {
    font-size: 30px;
}
.register-form > input {
    font-size: 30px;
}
.login-form > button {
    font-size: 30px;
    min-height: 60px;
}
.register-form > button {
    font-size: 30px;
    min-height: 60px;
}
  }
@media (max-width: 800px) {
  .Profile {
    background-color: #D9B99B;
    width: 100%;
}
  .Profile_form_coat
  {
    margin: auto;
    margin-top: 5vh;
  }
  .login-form > input {
    font-size: 35px;
}
.register-form > input {
    font-size: 35px;
}
.login-form > button {
    font-size: 35px;
    min-height: 60px;
}
.register-form > button {
    font-size: 35px;
    min-height: 60px;
}
}
@media (max-width: 900px) {
    .login-form  {
        display: block;
    }
    .register-form {
        margin-top: 5% !important;
    }
    .Profile {
        background-color: #D9B99B;
        width: 100%;
    }
    .Profile_form_coat
    {
        margin: auto;
        margin-top: 5vh;
    }
    input {
        margin-left: 0vw !important;
            font-size: 30px;
            width: 100% !important;
    }
    button  {
        font-size: 30px !important;
        min-height: 60px !important;
        width: 100% !important;
    }
}